<h1>Edit Account</h1>

<%= form_with model: @user do |form| %>
 <div>
  Username: <%= form.text_field :username%>
 </div>
 <div>
  Email: <%= form.text_field :email%>
 </div>
 <div>
  Confirm email: <%= form.text_field :email_confirmation %>
 </div>
 <div>
  Password: <%= form.password_field :password %>
 </div>
 <div>
  Confirm Password: <%= form.password_field :password_confirmation %>
 </div>
  <%= form.submit  %>
<%end%>
