<h1><%= @picture.title %></h1>
<img src= "<%= @picture.image_url %>" width = "500" height = "500">

<h4>Tags: </h4>
  <% @picture.tags.each do |tag| %>
      <%= link_to "#" + "#{tag.name}", tag_path(tag) %>
  <% end %>

<h4>Original Poster: </h4>
  <%= link_to @picture.user.username, user_path(@picture.user) %>


<h3>Comments</h3>
<table>
    <% @picture.comments.each do |comment| %>
    <tr>
      <td><%= link_to comment.user.username, user_path(comment.user) %></td>
      <td><%= comment.message %><td>
    </tr>
    <% end %>
</table>


<%= render template: "comments/new.html.erb", :picture => @picture %>
