<h1><%= @picture.title %></h1>
<img src= "<%= @picture.image_url %>" width = "500" height = "500">

<h4>Tags: </h4>
  <% @picture.tags.each do |tag| %>
      <%= link_to "#" + "#{tag.name}", tag_path(tag) %>
  <% end %>

<h4>Original Poster: </h4>
  <%= link_to @picture.user.username, user_path(@picture.user) %>


<h3>Comments</h3>
<ul>
    <% @picture.comments.each do |comment| %>
        <%= link_to comment.user.username, user_path(comment.user) %>
      <li><%= comment.message %></li><br>
    <% end %>
</ul>


<%= render template: "comments/new.html.erb", :picture => @picture %>

<%= button_to "Delete Photo", @picture, method: :delete,data:{confirm: "Are You Sure?"} %>
