<!DOCTYPE html>
<html>
  <head>
    <title>PickAndChoose</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <%= "Logged in as #{session[:user_id]}" %>
  <table>
    <tr>
        <td><%= button_to "My Account", "/users/#{session[:user_id]}", method: 'get' %></td>
        <td><%= button_to "My Feed", '/pictures', method: 'get' %></td>
        <td><%= button_to "Trending", '/tags', method: 'get' %></td>  
        <td><%= button_to "Add Photo", '/pictures/new', method: 'get' %></td>
        <td><%= button_to "Logout", '/sessions', method: 'delete' %></td>

    </tr>
  </table>
  <% else %>
     Logged Out
    <% end %>
    <%= yield %>
  </body>
</html>
